<!DOCTYPE html>
<html>
  <head>
    <title>gestor_proyecto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
  </head>

  <header>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/project/dashboard">
        <h2>CREA PROJECTS</h2>
      </a>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>

